In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("data.csv")
df.to_csv("DCC.csv")
print(df)

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M

In [32]:
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [ ]:
df.drop(df.index[5:])